*{
    margin: 0%;
    padding: 0%;
  box-sizing: border-box; 
}
html, body
{
    width: 100%;
    height: 100%;
}
#main{
width: 100%;
    height: 100%;
    display: flex;
 align-items: center;
 justify-content: center;
}
.card{
    position: absolute;
    /* top:50%;
    left :50%;
    transform: translate(-50%,-50%); */
    height: 300px ;
    width: 230px ;
    border: 1px solid ;
     border-radius:20px ;
     overflow: hidden;
}
#card1{

 z-index: 4;
 
}
#card2:hover{
    z-index:10 ;
}
#card3:hover{
    z-index:10 ;
}
#card4:hover{
    z-index:10 ;
}
#card2{
   
    rotate: -8deg;
 z-index: 3;
}
#card3{
  
     rotate: -16deg;
 z-index: 2;
}
#card4{
   
     rotate: -24deg;
 z-index: 1;
}
img{
    object-fit:cover ;
    width: 100%;
    height: 100%;
}