*{
    margin: 0%;
    padding: 0%;
   box-sizing: border-box;
}
html, body
{
    width: 100%;
    height: 100%;
}
#main{
width: 100%;
    height: 100%;
    display: flex;
 align-items: center;
 justify-content: center;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}
.shape{
    margin-top: 10px ;
    margin-left: 10px;
    width: 200px;
   height: 200px;
border: 1px solid black;
display: flex;
 align-items: center;
 justify-content: center;
}
#square:hover{
    background-color: red;

}
#circle{
   
    border-radius: 50%;
}
#circle:hover{
   
    background-color: green;
}
#diamond:hover{
    background-color: blue;
}
#diamond{
    rotate: 45deg;
    margin-top: 50px;
    /* translate: 10px 10px; used to shift the diamond to its axis */
}
#diamond h1
{
    rotate: -45deg;
}
h1{
    font-weight: normal;
}